In [2]:
import sys, os

# Enable importing pysparky
sys.path.append(os.pardir)

In [20]:
import pyspark
from pyspark.sql import SparkSession, DataFrame, Column
from pyspark.sql import functions as F, types as T

from pysparky.schema_ext import filter_columns_by_datatype

print(pyspark.__version__)

spark = SparkSession.builder.getOrCreate()

3.5.2

In [15]:
import pandas as pd

data_pdf = pd.read_csv(
    "https://people.sc.fsu.edu/~jburkardt/data/csv/addresses.csv",
    names=["first_name", "last_name", "address", "region", "code", "postcode"],
)
data_pdf

,first_name,last_name,address,region,code,postcode
0,John,Doe,120 jefferson st.,Riverside,NJ,8075
1,Jack,McGinnis,220 hobo Av.,Phila,PA,9119
2,"John ""Da Man""",Repici,120 Jefferson St.,Riverside,NJ,8075
3,Stephen,Tyler,"7452 Terrace ""At the Plaza"" road",SomeTown,SD,91234
4,NaN,Blankman,NaN,SomeTown,SD,298
5,"Joan ""the bone"", Anne",Jet,"9th, at Terrace plc",Desert City,CO,123

In [25]:
spark.createDataFrame(data_pdf).schema.filter_columns_by_datatype(T.LongType())

StructType([StructField('postcode', LongType(), True)])

In [26]:
filter_columns_by_datatype(spark.createDataFrame(data_pdf).schema, T.LongType())

StructType([StructField('postcode', LongType(), True)])